{{ $domains := domainsInit }}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ template "title" . }}Привет CMS!</title>


    <!-- Bulma CSS -->
    <link href="/web/static/bulma.min.css" rel="stylesheet">
    <link href="/web/static/style.css" rel="stylesheet">

    {{range $domains.CSSFiles}}
    <link href="{{.}}" rel="stylesheet">
    {{end}}
  
    {{range $domains.JSFiles}}
    <script src="{{.}}" type="text/javascript"></script>
    {{end}}

  </head>
  <body>
    <div class="box"><h1><a href="/hello">Привет CMS!</a></h1></div>

    <section class="columns is-fullheight">
      <div class="column is-3 section box p-4 pl-5">
        <p class="menu-label is-size-4 has-text-info">Domains</p>
        {{ template "sidebar" . }}
      </div>
  
      <div class="column is-9 container box">
        <div class="section">
          {{ template "content" . }}
        </div>
      </div>

    </section>

  </body>
</html>



